<div class="container-fluid bg">
  <div class="row row-full">
<!--    <div class="col-md-12">-->
<!--      <h4 class="page-title">სატრანსპორტო საშუალებების მართვის საინფორმაციო სისტემა</h4>-->
<!--    </div>-->
    <div class="col-md-12">
      <div class="row rows">
        <p class="registration-title">
          მომხმარებლის რეგისტრაცია
        </p>
      </div>
      <div class="row rows">
        <div class="col-md-5 offset-1">
          <div class="form-group">
            <input type="email" [(ngModel)]="name"
                   [ngClass]="name.length? name.length >= 6? 'is-valid':'is-invalid': ''"
                   class="form-control" id="name"
                   placeholder="მომხმარებელი">
            <label for="name"

                   class="control-label input-bottom-label"
            >არანაკლებ 6 სიმბოლო</label>
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)]="password"
                   [ngClass]="password.length? password.length >= 6? 'is-valid':'is-invalid': ''"
                   class="form-control"
                   id="password" placeholder="პაროლი">
            <label for="password"
                   class="control-label input-bottom-label">არანაკლებ 6 სიმბოლო</label>
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)]="confirmPassword"
                   [ngClass]="confirmPassword.length? arePasswordsMatch()? 'is-valid':'is-invalid': ''"
                   class="form-control"
                   id="repeat-password" placeholder="გაიმეორეთ პაროლი">
            <label for="repeat-password" class="control-label input-bottom-label"></label>
          </div>
        </div>
        <div class="col-md-5 offset-1">
          <div class="form-group">
            <input type="text" [(ngModel)]="idNumber"
                   class="form-control"
                   [ngClass]="idNumber.length? checkIdNumberLength()? 'is-valid':'is-invalid': ''"
                   id="id-number"
                   placeholder="პირადი ნომერი">
            <label for="id-number" class="control-label input-bottom-label"></label>
          </div>
          <div class="row form-group">
            <div class="col-md-6">
              <input type="text" [(ngModel)]="tel" class="form-control" id="tel" placeholder="ტელეფონი">
            </div>
<!--            <app-error-label *ngIf="!tel.length"></app-error-label>-->
<!--            <app-success-label *ngIf="tel.length"></app-success-label>-->
            <label for="tel" class="control-label input-bottom-label"></label>
          </div>
          <div class="margin-like-other">
            <div class="row form-group">
              <div class="col-md-6">
                <input type="email" [(ngModel)]="mail" class="form-control" id="mail" placeholder="ელ. ფოსტა">
              </div>
<!--              <app-error-label *ngIf="!mail.length || !validateEmail()"></app-error-label>-->
<!--              <app-success-label *ngIf="mail.length && validateEmail()"></app-success-label>-->
              <label for="mail" class="control-label input-bottom-label"></label>
            </div>
          </div>
          <div class="row rows action-area">
            <div class="col-md-12 rows">
              <button class="btn btn-success registration-button">რეგისტრაცია</button>
            </div>
            <div class="col-md-12" id="registration-terms-area">
              <a id="registration-terms" href="#">
                <p>რეგისტრაციის პირობები</p>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <app-footer-of-registration style="margin: 0 auto"></app-footer-of-registration>
</div>
