<div class="col-md-6 col-xs-12">
  <button class="alert-labels btn"
          [ngClass]="submited? 'alert-labels-success': 'alert-labels-danger'"
          data-toggle="modal"
          data-target="#exampleModal2"
          [disabled]="!Input"
  >
    <i class="fa fa-lg"
       [ngClass]="submited? 'fa-check-circle-o': 'fa-exclamation-circle'"
       aria-hidden="true"></i>

    {{submited ? 'დადასტურებული' : 'დადასტურება'}}
  </button>
  <div class="modal fade bd-example-modal-lg"
       style="padding: 5px 10px"
       id="exampleModal2" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            მობილური ნომრის დადასტურება
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fa fa-times-circle fa-lg" style="color: white" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body" style="text-align: center">
          <p>
            დასადასტურებელი კოდი გამოგზავნილია ნომერზე
          </p>
          <p>{{Input}}</p>
          <form class="row" #mobile="ngForm"
                (ngSubmit)="onSubmit(mobile)"
          >
            <div class="col-sm-12 col-md-6 offset-md-3">
              <input
                type="text"
                name="code"
                class="form-control"
                required
                [(ngModel)]="code"
                minlength="4"
                placeholder={{placeholder}}
              >
            </div>
            <div class="col-sm-12 offset-md-4 col-md-4">
              <button class="btn btn-primary submitButton"
                      type="submit"
                      data-dismiss="modal"
                      (click)="submited=true"
                      [disabled]="!mobile.valid">
                დადასტურება
              </button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#" style="text-decoration: underline">თავიდან გაგზავნა</a>
        </div>
      </div>
    </div>
  </div>
</div>
